* {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
}

button{
   margin-right:20px;
}

h1,h2,h3,h4,h5,h6 {

	font-family: 'Roboto', sans-serif;
}

h1 {

	 font-size: 70px;
    
}
